@font-face {
    font-family: 'Expose-Regular';
    src: url('./fonts/Expose-Regular.woff2') format('woff2'),
        url('./fonts/Expose-Regular.woff') format('woff'),
        url('./fonts/Expose-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi-Regular';
    src: url('./fonts/Satoshi-Regular.woff2') format('woff2'),
        url('./fonts/Satoshi-Regular.woff') format('woff'),
        url('./fonts/Satoshi-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Tabular-Regular';
    src: url('./fonts/Tabular-Regular.woff2') format('woff2'),
        url('./fonts/Tabular-Regular.woff') format('woff'),
        url('./fonts/Tabular-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

body {
    font-family: 'Satoshi-Regular';
}

h1 {
    font-family: 'Expose-Regular';
}

h2,
summary,
a.navbar-brand,
a.nav-link {
    font-family: 'Tabular-Regular';
}

a.navbar-brand {
    position: relative;

    &::before {
        content: "";
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("./favicon-192x192.png");
        width: 40px;
        height: 40px;
        display: inline-block;
        position: absolute;
        left: -48px;
    }
}

.btn-primary {
    background-color: $gdi-wine-berry;
    :hover {
        background-color: #000;
    }
}
